---
---

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
  <Picture src={import("~/assets/images/logo.jpg")}
  class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
  sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
</span>